<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695972063290-h6ha3um5dtuhjntt2uffj84iq25sshgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695972063290-h6ha3um5dtuhjntt2uffj84iq25sshgi</string>
	<key>API_KEY</key>
	<string>AIzaSyDHGhKWRmgZ2VSWEEZYZ6dsOhLLm2coxYU</string>
	<key>GCM_SENDER_ID</key>
	<string>695972063290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naorandd.buntan</string>
	<key>PROJECT_ID</key>
	<string>buntan-adc88</string>
	<key>STORAGE_BUCKET</key>
	<string>buntan-adc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695972063290:ios:f12fa04d6c1820627fad03</string>
</dict>
</plist>